.App {
  box-sizing: border-box;
  font-family: "Arial", Courier, monospace;
}
.contacts {
  background-color: #000000;
  border-radius: 1rem;
  width: 500px;
  height: 400px;
  margin: auto;
}
.title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fff;
  height: 170px;
}
h1 {
  margin: 3rem;
  justify-content: left;
  color: #000;
  padding: 1rem;
}
img {
  border: 7px solid #ff004d;
  width: 200px;
  height: 200px;
  border-radius: 8rem;
  margin-left: 13rem;
}
p {
  margin: 2rem;
  justify-content: left;
  color: #ffff;
}
